<p-growl></p-growl>
<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Login</span>
        </div>
    </p-header>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <h3 class="first">Username</h3>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input type="text" pInputText placeholder="Username" [(ngModel)]="author.email">
            </div>
        </div>
        <h3 class="first">Password</h3>
        <input pPassword type="password" [(ngModel)]="auth.pass"/>
    </div>
        <p-footer>
            <button pButton type="button" icon="fa-list" label="Login" class="ui-button-success" (click)="login(author.email,auth.pass)"></button>
        </p-footer>
</p-panel>